.intro {
  padding: 2% 10% 2% 2%;
}

#name {
  margin: 0.5%;
  padding: 0em;
}

#designation {
  margin: 0em;
  padding: 0% 0% 1% 0%;
}

#profile-img {
  border-radius: 50%;
}   

/* Tabel */

table.education-table {
  border: solid 1px;
  border-collapse: collapse;
}
table.education-table th {
  border: solid 1px;
  border-collapse: collapse;
  padding: 10px;
}
table.education-table td {
  border: solid 1px;
  border-collapse: collapse;
  padding: 10px;
}
table.education-table tr {
  border: solid 1px;
  border-collapse: collapse;
  padding: 10px;
}

table.column td {
    padding-right: 20px;
}

table.column tr {
    padding-right: 20px;
}