.intro {
    padding: 0% 10% 2% 2%;
}

#name {
    margin: 0.5%; 
    padding: 0em;
}

#designation {
    margin: 0em;
    padding: 0em;
}

/* top right bottom left */
.sub-heading { 
    margin: 0em 0em 0em 0em;
    padding: 0% 0% 2% 0%;
}

.education {
    margin: 0% 0% 2% 0%;
}

.unordered-list {
    margin: 0.6% 0% 1% 0%;
}

#profile-img {
    border-radius: 50%
}